<!DOCTYPE html>
<meta charset="utf-8">
<!-- IMPORT THE VISUALISATIONS CSS STYLING -->
<link rel="stylesheet" href="static/css/style.css">

<style type="text/css" media="screen">
  div#login {text-align: center;}
</style>

<body>
  <div id="login">
    <h2>Login with name and password:</h2>
    <form action='login' method='POST'>
      <input type='text' name='name' id='name' placeholder='name'></input>
      <input type='password' name='pw' id='pw' placeholder='password'></input>
      <input type='submit' name='submit'></input>
    </form>
  </div>
</body>
